# 10. 리스트

In [4]:
list1 = [
    'a',
    'b',
    'q',
    'f'
]
list1.index('b')

1

In [5]:
a = [38,21,53,62,19]
a

[38, 21, 53, 62, 19]

In [7]:
list2 = [1,2,3]
list1.extend(list2)
list1

['a', 'b', 'q', 'f', 1, 2, 3, 1, 2, 3]

In [9]:
person = ['james',17,175.3 , True]
person

['james', 17, 175.3, True]

In [13]:
list1.append('work?')
list1

['a', 'b', 'q', 'f', 1, 2, 3, 1, 2, 3, 'work?', 'work?', 'work?']

In [16]:
# 빈 리스트 만들기
empty = []
emptyObs = list()

In [21]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
list(range(1,15,2))

[1, 3, 5, 7, 9, 11, 13]

In [26]:
char = list('hello')
"/".join(char)

'h/e/l/l/o'

In [27]:
list(range(10,0,-2))
# 끝에거는 무조건 안 나오나 보네

[10, 8, 6, 4, 2]

# 튜플

In [29]:
a = (38,21,53,62,19)
a

(38, 21, 53, 62, 19)

In [31]:
b = 23, 5 ,32
# 튜플로 사용할 수 있음
b

(23, 5, 32)

In [32]:
# 튜플도 여러개의 자료를 섞어쓸 수 있다. 리스트랑 똑같다.
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [ ]:
# 특히 여러개의 값을 한 번에 return할 때 유용하게 쓰인다
# a, b, c = function()
#               return 이런 식으로
# 자바스크립트에서는 list1, list2, list3 이렇게 되어있을 때
'''json으로 return했어야 했는데 { list1: json.stringfy(list1) ,
                               list2: json.stringfy(list2) }'''

In [ ]:
''' js에서 params = [뭐,뭐,뭐] 
했던 것처럼 python에서는 (뭐,뭐,뭐)
하나였을때는 js에서 그냥 element로 쓴 반면
python에서는 튜플로 꼭 들어와야 하니 (뭐,)
'''

In [33]:
d = tuple(range(1,15,3))
d

(1, 4, 7, 10, 13)

In [35]:
# 리스트와 튜플 바꾸기
tuple_a = tuple([1,2,3])
print(tuple_a)
list_a = list(('a','b','c'))
print(list_a)

(1, 2, 3)
['a', 'b', 'c']

In [36]:
# 나열하는것처럼 되는거면 sequnce data, 여기선 for문 사용가능 iterable
print(list('hello'))
print(tuple('1234'))

['h', 'e', 'l', 'l', 'o']
('1', '2', '3', '4')

In [41]:
a, b, c = [1, 2, 3]
d, e, f = (4, 5, 6)

print(a, b, c, d, e, f)

1 2 3 4 5 6

In [43]:
x = 10
y = 20
x, y = y, x
print(x, y )
''' js에서 알고리즘 풀었을 때에는 변수 swapping이 안 되니까
뭐 orginalname, newname처럼 옛날값을 넣어놓을 옛날 변수가 필요했는데
이거는 서로 바꿔주기만 하면 됨
'''

20 10

In [44]:
# list(map(함수, 리스트))
# tuple(map(함수, 튜플))

In [ ]:
# 입력을 여러 개 받으려면?
x = input().split(",")
x

In [ ]:
x = list(input())
x

In [4]:
a,b,c = map(int, [10,20,30])
print(a,b,c)

10 20 30

In [ ]:
a, b, c = map(int, input('숫자 3개 입력:').split() )
a, b, c

In [1]:
[ int(i) for i in input('숫자 3개 입력:').split() ]

숫자 3개 입력:16 27 33

[16, 27, 33]

In [2]:
[ i for i in range(5,-10,-2) ]

[5, 3, 1, -1, -3, -5, -7, -9]

In [5]:
step = int(input('step:'))
tup = tuple([i for i in range(-10,10,step)])
print(tup)

step:5
(-10, -5, 0, 5)