# 16_리스트와 튜플

In [1]:
a = [10, 20, 30]
a.append(500)
a

In [2]:
len(a)

4

In [3]:
a.append([3,4])
a

[10, 20, 30, 500, [3, 4]]

- 2차원 행렬 만들기

In [11]:
import random as rd
matrix = []
num_row, num_column = 6, 6
for i in range(num_row):
    row = []
    for k in range(num_column):
        dice = rd.randint(1,6)
        row.append(dice)
    matrix.append(row)
matrix

[[2, 3, 5, 5, 4, 5],
 [4, 3, 3, 4, 6, 1],
 [4, 5, 6, 3, 3, 2],
 [2, 2, 1, 5, 2, 4],
 [5, 4, 5, 2, 2, 6],
 [4, 1, 1, 3, 4, 5]]

In [38]:
def dice_matrix(num_row, num_column):
    import random as rd
    matrix = []
    for i in range(num_row):
        row = []
        for k in range(num_column):
            dice = rd.randint(1,6)
            row.append(dice)
        matrix.append(row)
    return matrix

In [39]:
mat = dice_matrix(6,6)
print(mat)

[[1, 1, 6, 6, 1, 3], [2, 5, 6, 4, 2, 1], [3, 6, 4, 4, 3, 5], [6, 5, 2, 3, 6, 1], [2, 1, 1, 2, 3, 6], [3, 1, 5, 2, 1, 3]]

In [37]:
def print_matrix(mat):
    for row in mat:
        for element in row:
            print(element, end=" ")
        print()
            

print_matrix(mat)

6 6 1 5 1 1
3 6 5 2 2 6
5 1 6 1 4 4
4 3 1 4 4 5
3 5 4 5 4 6
4 6 1 3 5 5

- 리스트 요소 삭제(인덱스)

In [40]:
# pop
a = [10, 20, 30]
a.pop()
a

[10, 20]

In [41]:
# 인덱스 지정
a = [10,20,30]
a.pop(1)
a

[10, 30]

In [42]:
# del과 같은 기능
a = [10,20,30]
del a[1]
a

[10, 30]

- 리스트 요소 삭제(값 찾아서)

In [43]:
a = [10,20,30]
a.remove(20)
a

[10, 30]

In [46]:
a = [10,20,30]
a.index(20)

1

- Count 메소드로 요소 개수 세기

In [51]:
a = [10,20,30,15,20,40]
a.count(20)

2

- 순서 바꾸기
reversed 는 내장함수
reverse 는 리스트 메소드

In [54]:
''' 리스트 메소드는 리스트를 자체를 바꾼다 '''
''' 메소드는 print가 안 되네?'''
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [59]:
''' 내장함수는 원래 리스트를 바꾸지 않는다 '''
a = [10,20,30,15,20,40]
list(reversed(a))

[40, 20, 15, 30, 20, 10]

In [60]:
a

[10, 20, 30, 15, 20, 40]

- sorting 메소드

In [63]:
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [65]:
a.sort(reverse=True)
a

[40, 30, 20, 20, 15, 10]

- 내장함수 sorted()

In [68]:
''' 바뀌지 않고 보여주기만 한다. '''
b = [10,20,30,15,20,40]
sorted(b)

[10, 15, 20, 20, 30, 40]

- 리스트를 슬라이스로 조작하기

In [71]:
a = [10,20,30]
a[3] = 40
''' 이러면 왜 indexError가 날까'''

IndexError: list assignment index out of range

- 리스트가 비어있는지 아닌지 리스트 길이로 확인하기

In [78]:
seq = [1,2,3,4,5,6]
if not len(seq):
    print('리스트가 비어있으면 True')
elif len(seq):
    print('리스트에 요소가 있으면 True')

리스트에 요소가 있으면 True

- 리스트 할당과 복사

In [80]:
a = [0,0,0,0,0]
b = a 
a, b

([0, 0, 0, 0, 0], [0, 0, 0, 0, 0])

In [85]:
'''왜 a도 바뀌지? ==> C언의 pointer/pointing '''
b[2] = 2
a, b

([0, 0, 2, 0, 0], [0, 0, 2, 0, 0])

In [86]:
''' 메모리에 저장된 a와 b는 다르지만 이 a,b가 가르키는 객체는 같다 '''
a is b

True

In [88]:
''' 그래서 pandas의 데이터프레임을 카피할 때 copy()를 하는 것 '''
''' 그래서 그게 그렇게 빨리 나오는 거야 '''
a = [0,0,0,0,0]
b = a.copy()
''' 위에서 a와 b가 공통적으로 가르키는 객체가 있다고 했지?
여기서 copy()를 하면 그 객체를 아예 복사하는 거야'''
b[2] = 2
''' 그래서 다르게 나온다'''
a, b

([0, 0, 0, 0, 0], [0, 0, 2, 0, 0])

In [89]:
''' shallow copy(1차원 리스트면 그냥 이거 쓰면 됨) vs deep copy(2차원 이상일 때) '''

' shallow copy(1차원 리스트면 그냥 이거 쓰면 됨) vs deep copy(2차원 이상일 때) '

In [90]:
a is b

False

- 반복문으로 출력하기

In [92]:
a = [10,20,30,40]
# 인덱스도 뽑고 싶어?
for index, value in enumerate(a):
    print(index, value)

0 10
1 20
2 30
3 40

- 리스트 유용한 내장함수

In [102]:
min(a)

minimum = a[0] # 여기는 졸라큰 숫자
maximum = a[0] # 여기는 졸라작은 숫자
for elm in a:
    if elm < minimum:
        # 최솟값, 최댓값을 비교대상으로 할 거니까
        # 얘네를 갱신해주는게 옳다.
        minimum = elm
    if elm > maximum:
        maximum = elm
        
minimum, maximum

(10, 40)

- list comprehension

In [116]:
# 1에서 10까지의 홀수를 제곱수로 
[ i** 2 for i in range(1,10+1) if i % 2 == 1 ]

[1, 9, 25, 49, 81]

In [117]:
[ i * k for i in range(2,10)
        for k in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

- 맵 함수

In [124]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [125]:
list(map(int,a))

[1, 2, 3, 4]

In [129]:
# 여러 개 쓰면 인풋이 리스트로 들어옴
a, b, c = map(int,input().split())

123 123 123

In [134]:
hour, minute , second = map(int, input('hh:mm:ss>').split(':'))
f'{hour}시 {minute}분 {second}초'

hh:mm:ss>12:52:44

'12시 52분 44초'

- 튜플 표현식

In [135]:
a = tuple (i for i in range(10) if i % 2 ==0 )
a

(0, 2, 4, 6, 8)

In [137]:
a = [10,20,30]
a[0:]

[10, 20, 30]

In [ ]:
c = (10,20,30)

In [140]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
def len5(str):
    if len(str) == 5:
        return str

list(map(len5, a))

['alpha', 'bravo', None, 'delta', None, None, None, 'hotel', 'india']